@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Wix+Madefor+Display&display=swap");

.book-details {
  font-family: "Kanit", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 20px;
  text-align: center;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
